doctype html
html
	title HN Feed
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css")
	link(href="https://johnresig.com/files/pretty.js")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js")
	link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lobster', type='text/css')
	link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto', type='text/css')
	link(rel="stylesheet", href="stylesheets/main.css")
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	script(src='js/all.js')
body
	.container
		block content